@using RandomMeeting.Web.ViewModels.Events
@model IEnumerable<EventSummaryViewModel>

<h1 class="row justify-content-center" style="font-family: 'Comic Sans MS'">My Events</h1>

<div class="row justify-content-center" style="font-family: 'Comic Sans MS'">
    <div class="container-fluid ml-5 text-center">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-lg-2">Name</th>
                    <th scope="col" class="col-lg-2">Start</th>
                    <th scope="col" class="col-lg-2"></th>
                    <th scope="col" class="col-lg-2"></th>
                    <th scope="col" class="col-lg-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventViewModel in Model)
                {
                <tr class="row">
                    <td class="col-lg-2">@eventViewModel.Name</td>
                    <td class="col-lg-2">@eventViewModel.Start</td>
                    <td class="col-lg-2">
                        <div class="button-holder">
                            <a asp-controller="Event" asp-action="Details" asp-route-id="@eventViewModel.Id" class="btn btn-primary">Details</a>
                        </div>
                    </td>
                    <td class="col-lg-2">
                        <div class="button-holder">
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@eventViewModel.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </td>
                    <td class="col-lg-2">
                        <div class="button-holder">
                            <a asp-controller="Event" asp-action="Delete" asp-route-id="@eventViewModel.Id" class="btn btn-primary">Delete</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
